.container{
    width: 900px;
    border: 3px solid red;
    margin: auto;
    background-color: #FBB9AB; 
  
}

.item{
    background-color: #BDFDE0;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 10px 20px 10px 20px;
    
}
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
    box-sizing: border-box;
}

#fruit{
    margin-left: 5px;
    float: left;
    width: 48%;
}
#computer{
    float: left;
    width: 48%;
}
#stationary{
    clear: left ;
}
#mainheading{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    width: max-content;
}